.App__First {
  background-image: url("https://static.vecteezy.com/system/resources/previews/000/622/344/original/beautiful-background-of-lines-with-gradients-vector.jpg");
  width: 100%;
  height: 100%;
}
